:root {
	--height-of-header: 130px;
	--header-color: #328989;
        --container-height: 1200px;
        --hexagon-z-index: 10;
        --footer-z-index: 25;
        --header-z-index: 100;
}
 * {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Verdana, sans-serif;
	/*line-height: 1.4;*/
}

.header {
	width: 100%;
	padding: 30px;
	font-size: 1.6em;
	color: azure;
	background-image: url(https://raw.githubusercontent.com/Vicktrix/Vicktrix.github.io/refs/heads/sources/images/head_panorama_2.jpg);
	/*border-bottom: 2px solid blue;*/
	box-shadow: 0 15px 25px rgba(0, 0, 240, 0.5);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/*justify-content: space-around;*/
	position: fixed;
	top: -50px;
	left: 0;
	z-index: var(--header-z-index);
	height: var(--height-of-header);
	transition: ease-in-out 0.5s;
}
.header:hover {
	height: 200px;
}
.header:hover .list ul li a{
	font-size: 1.2em;
        color: #0033ff;
        text-shadow: 0px 0px 10px white, 0px 0px 15px yellow;
/*        box-shadow: 
        0 0 5px #ff00ff;*/
}
.header h2{
    margin-top: 50px;
    /*right: 70px;*/
    text-shadow: 0px 0px 5px white, 0px 0px 10px yellow;
}
.header h2:hover{ 
    text-shadow: 0px 0px 10px white, 0px 0px 15px yellow;
}
/*           header            */
ul {
	list-style-type: none;
}
.header .list ul {
	display: flex;
	flex-direction: row;
        margin-top: 50px;
}
.header .list ul li{
	margin: 10px;
	border-radius: 5px;
	transition: linear 0.5s;
}
.header .list ul li a {
	color: #8fbefd;
	padding: 20px 30px;
        transition: ease-in-out 0.5s;
        margin-top: 5px;
}
.header .list ul li:hover {
	background-image: linear-gradient(to bottom, rgba(0, 130, 230, 1), rgba(0, 130, 230, 0));
	margin: 5px;
	/*padding: 20px 30px;*/
	/*font-size: 1.2em;*/
	border-bottom: 3px solid #99ccff;
}
/*.header .list ul li:hover a {
    color: #0033ff;
}   */
img{
	width: 100%;
}
a {
	text-decoration: none;
}
/*------------------------------------------*/
body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 50px 0;*/
    padding: 120px 0;
}

.content {
    width: 70%;
    max-width: 85%;
    text-align: center;
    /*margin-bottom: 50px;*/
    z-index: 25;
    /*color: #99ffff;*/
    color: #1a1b29;
    font-size: 1.4em;
    line-height: 2;
    margin: 50px 50px;
    padding: 15px 20px;
    /*top: -50px;*/
    background-image: linear-gradient(to bottom, rgba(50, 150, 250, 1) 60%, rgba(80, 180, 255, 0.7));
    pointer-events: auto;
}

.content p {
    text-indent: 2em;
    text-align: left;
}

.footer {
	height: 100px;
        width: 100%;
	font-size: 25px;
        bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-image: linear-gradient(to right, darkturquoise, rgba(0,50,250,0.8));
	background-repeat: no-repeat;
	background-size: cover;
	color: blue;
	/*padding: 20px;*/
        /*z-index: 25;*/
        z-index: var(--footer-z-index);
}
.social i {
	margin: 10px;
	padding-left: 10px;
	font-size: 40px;
	color: #27ffeb;
}
.social i:hover {
	color: #ef29b2;
	font-size: 55px;
	cursor: pointer;
	transition: linear 0.3s;
}

.parallax-container {
    position: absolute;
    width: 2000px;
    height: var(--container-height);
    margin: 0 auto;
/*    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);*/
    /*transform: translate(0, -3%);*/
    pointer-events: none; 
}

.hexagon {
    position: absolute;
    box-sizing: border-box;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    /*z-index: 10;*/
    z-index: var(--hexagon-z-index);
    color: #99ffff;
    background-image: linear-gradient(to bottom, #1a1b29, rgba(120, 210, 255, 1));
    pointer-events: auto; 
    transition: transform 0.4s ease-in-out;
}
.hexagonLarge {     
}
.hexagonMiddle {    
}
.hexagonSmall {    
}
.hexagonLarge:hover {
    transform: translate(8px, 8px);
    background-image: linear-gradient(to bottom, rgba(30, 0, 250, 0.9), rgba(30, 0, 250, 0.3) );
}
.hexagonMiddle:hover {
    transform: translate(4px, 4px);
    background-image: linear-gradient(to bottom, rgba(30, 0, 250, 0.9), rgba(30, 0, 250, 0.3) );
}
.hexagonSmall:hover {
    transform: translate(2px, 2px);
    background-image: linear-gradient(to bottom, rgba(30, 0, 250, 0.9), rgba(30, 0, 250, 0.3) );
}
.hex-color-1 {
    background-color: rgba(85, 220, 221, 0.4);
}
.hex-color-2 {
    background-color: rgba(0, 130, 230, 0.3);
}
.back-groung-1 {
    position: fixed;
    top: 300px;
    left: 300px;
    width: 300px;
    height: 300px;
    background-color: #ff00ff;
    box-shadow: 
        0 0 5px #ff00ff,       
        0 0 10px #ff00ff,      
        0 0 15px #ff00ff,    
        0 0 20px #ff00ff,
        0 0 25px #ff00ff; 
}
.back-groung-2 {
    position: fixed;
    top: 450px;
    left: 700px;
    width: 300px;
    height: 300px;
    background-color: #6699ff;
    box-shadow:
        0 0 5px #6699ff,       
        0 0 10px #6699ff,      
        0 0 15px #6699ff,      
        0 0 20px #6699ff,
        0 0 25px #6699ff; 
}
.back-groung-3 {
    position: fixed;
    top: 370px;
    left: 840px;
    width: 500px;
    height: 300px;
    background-color: #6699ff;
    box-shadow:
        0 0 5px #6699ff,       
        0 0 10px #6699ff,      
        0 0 15px #6699ff,      
        0 0 20px #6699ff,
        0 0 25px #6699ff; 
}
.back-groung-4 {
    position: fixed;
    top: 470px;
    left: 1450px;
    width: 300px;
    height: 700px;
    background-color: #66ff66;
    box-shadow:
        0 0 5px #66ff66,       
        0 0 10px #66ff66,      
        0 0 15px #66ff66,      
        0 0 20px #66ff66,
        0 0 25px #66ff66; 
}